body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 20px;
    color: rgb(82, 82, 82);
}
section{
    height: 700px;
    padding-bottom: 200px;
}
#menu-bar{
    margin: 5% 0% 5% 60%;
}
.menu-batton{
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 60px;
    color: rgb(82, 82, 82);
    font-size: 20px;
    font-weight: 600; 

}
#name-color{
    color: orange;
}
.hire-batton{
    text-decoration: none;
    background-image: linear-gradient(90deg, orange,cyan);
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    font-size: 25px;
}
.for-batton{
    margin-top: 50px;
}
.first-part{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.first-part img{
    width: 100%;
}
i{
    padding: 5px 10px 0 0;
}
#working-project{
    background-color: rgb(245, 245, 245);
    align-items: center;
}
#project{
    text-align: center;
    padding: 100px 0 100px 0;
}
#color-header{
    color: orange;
}
.box{
    width: 22%;
    height: 70%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    border-radius: 20px;
    background-color: white;
}
.box .img-box{
    width: 100%;
    height: 100%;
}
.box .img-box img{
    width: 100%;
}
.green-box{
    box-shadow: 10px 10px 30px  green;
}
.yellow-box{
    box-shadow: 10px 10px 30px  yellowgreen;
}
.red-box{
    box-shadow: 10px 10px 30px  red;
}
.third-part{
    background-image: url(images/main11.png);
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100%;
    margin-left: 20%;
    margin-top: 100;
}
.third-header{
    padding-top: 110px;
    padding-left: 50px;
    color: #ffffff;
}
.third-batton{
    text-decoration: none;
    background-image: linear-gradient(90deg,yellow, cyan);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-left: 250px;
}
.last-part{
    text-align: center;
}
.copyright{
    font-size: 12px;
}